.home{
    max-width: 1100px !important;
}

.page .theme-default-content{
    max-width: 800px !important;
}

.home .hero h1{
    font-size: 2rem;
}

.home .hero .description{
    margin-bottom: 3rem;
    font-size: 1.2rem;
}